<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/newblogpost.css" />
<head>
    <title>New Blog Post</title>
</head>

<body>
    <h1> Add New Blog</h1>
    <form action="/insertdata3"method="post">
        <table border="1px">
            <tr>
                <td>Author name</td>
                <td><input type="text" name="author"></td>
            </tr>
            <tr>
                <td>Blog title</td>
                <td><input type="text" name="blog title"></td>
            </tr>
            <tr>
                <td>Blog</td>
                <td><input type="text" name="blog"></td>
            </tr>
            <tr>
                <td><button class="my-button">Add</button></td>
            </tr>

        </table>

    </form>
</body>

</html>