<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/authorint.css" />    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Author Interface</h1> 
   <ul>
   <li> <a href="/Add new blog post">
     <button style="color: rgb(183, 46, 224); padding: 7px;background-color: rgb(236, 192, 233);">ADD POST</button>
    </a></li>
    
    <li><a href="/Your Post">
     <button style="color: rgb(183, 46, 224); padding: 7px;background-color: rgb(236, 192, 233);">VIEW POSTS</button>
    </a></li>
    </ul>
</body>
</html>
