<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<link rel="stylesheet" href="../static/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<h1>Welcome To New Blogs</h1>
    <ul>   
        <li><a href="/registerauthor">Register As Author</a><br></li>
        <li><a href="/Userregistrationform">Register as User</a><br></li>
        <li><a href="/Login As Author">Login as Author</a><br></li>
        <li><a href="/Login As User">Login as User</a><br></li>
    </ul>
<p class="blogtypes">
Food Blogs <br>
Corporate blogs <br>
Lifestyle blogs <br>
Travel blogs <br>
Music blogs <br>
Vlog <br>
Travel blogs <br>
Fashion blogs <br>
Sports blogs <br>
Mobile blogs <br>
Photography blogs <br></p>

<i class="fa-brands fa-facebook" style="color:#8D72E1; font-size: 30px;" ></i>
<i class="fa-brands fa-whatsapp" style="color:rgb(134, 224, 111); font-size: 30px;"></i>
<i class="fa-brands fa-twitter"  style="color:rgb(113, 136, 238); font-size: 30px;"></i>
<i class="fa-solid fa-house" style="color:rgb(251, 251, 253); font-size: 30px;"></i>
<i class="fa-brands fa-instagram" style="color:rgb(230, 109, 189); font-size: 30px;"></i>
</body>

</html>