<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/authorreg.css" />
<head>
    <title>Author Registration Form</title>
</head>

<body>
    <h1>Author Registration Form</h1>
    <form action="/insertdata" method="post">
        <table border="1px">
            <tr>
                <td>Username</td>
                <td><input type="text" name="Username" placeholder="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" placeholder="password"></td>
            </tr>
            <tr>
                <td>Email Id</td>
                <td><input type="email" name="Emailid" placeholder="email"></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="City" placeholder="city"></td>
            </tr>
            <tr>
                <td><button class="my-button">Register</button></td>
            </tr>

        </table>

    </form>
</body>

</html>