<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/Yourpost.css" />
<head>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Your Post"</h1>
    <table border="2px">
        <thead>
            <td>Authorname</td><td>Blogtitle</td><td>blog</td>
        </thead>
        {%for i in data%}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            {% endfor %}

        </tr>
    </table>
    <ul>
      <li><a href="/">Home Page</a></li>
    </ul>

    
<div>
    <footer>
        <marquee behavior="scroll" direction="left">&copy 2022 All rights reserved with Kunal Patil. |Privacy
        </marquee>
    </footer>
</div>
</body>
</html>